<div class="addContainer" style="width: 825px !important;" *ngIf="this.action == 'add'">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            Company Management > Add
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        class="modal-close-button"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form
        class="register-form m-4"
        [formGroup]="advanceTableForm"
        (ngSubmit)="(submit)"
      >
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="cname" />
            <mat-error
              *ngIf="advanceTableForm.get('cname')?.hasError('required')"
            >
              Company name is required
            </mat-error>
            <mat-error
            *ngIf="advanceTableForm.get('cname')?.hasError('minlength')"
          >
          Minimum 2 characters
          </mat-error>
          <mat-error
          *ngIf="advanceTableForm.get('cname')?.hasError('maxlength')"
        >
        Maximum 50 characters
        </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Company Code</mat-label>
            <input matInput formControlName="ccode" />
            <mat-error
              *ngIf="advanceTableForm.get('ccode')?.hasError('required')"
            >
              Company code is required
            </mat-error>
            <mat-error
            *ngIf="advanceTableForm.get('ccode')?.hasError('minlength')"
          >
          Minimum 2 characters
          </mat-error>
          <mat-error
          *ngIf="advanceTableForm.get('ccode')?.hasError('maxlength')"
        >
        Maximum 20 characters
        </mat-error>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button
                mat-raised-button
                color="accent"
                [disabled]="!advanceTableForm.valid"
                [mat-dialog-close]="2"
                (click)="confirmAddnew()"
              >
              Create & Continue
              </button>
              <button
                mat-flat-button
                (click)="onNoClick()"
                tabindex="-1"
                style="float: right"
              >
              Cancel
              </button>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!advanceTableForm.valid"
                [mat-dialog-close]="1"
                (click)="confirmAdd()"
                style="float: right"
              >
              Create
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
<div class="addContainer" style="width: 825px !important;" *ngIf="this.action == 'view'">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            Company Management > View
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        class="modal-close-button"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form
        class="register-form m-4"
        [formGroup]="advanceTableForm"
        (ngSubmit)="(submit)"
      >
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Company Name</mat-label>
            <input matInput value="{{this.advanceTable.cname}}" readonly/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Company Code</mat-label>
            <input matInput value="{{this.advanceTable.ccode}}" readonly />
          </mat-form-field>
        </div>
      </div>
      </form>
    </div>
  </div>
<div class="addContainer" style="width: 825px !important;" *ngIf="this.action == 'edit'">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            Company Management > Edit
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        class="modal-close-button"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form
        class="register-form m-4"
        [formGroup]="advanceTableForm"
        (ngSubmit)="(submit)"
      >
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="cname" />
            <mat-error
              *ngIf="advanceTableForm.get('cname')?.hasError('required')"
            >
              Company name is required
            </mat-error>
            <mat-error
            *ngIf="advanceTableForm.get('cname')?.hasError('minlength')"
          >
          Minimum 2 characters
          </mat-error>
          <mat-error
          *ngIf="advanceTableForm.get('cname')?.hasError('maxlength')"
        >
        Maximum 50 characters
        </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Company Code</mat-label>
            <input matInput formControlName="ccode" />
            <mat-error
              *ngIf="advanceTableForm.get('ccode')?.hasError('required')"
            >
              Company code is required
            </mat-error>
            <mat-error
            *ngIf="advanceTableForm.get('ccode')?.hasError('minlength')"
          >
          Minimum 2 characters
          </mat-error>
          <mat-error
          *ngIf="advanceTableForm.get('ccode')?.hasError('maxlength')"
        >
        Maximum 20 characters
        </mat-error>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button
                mat-flat-button
                (click)="onNoClick()"
                tabindex="-1"
                style="float: right"
              >
              Cancel
              </button>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!advanceTableForm.valid"
                [mat-dialog-close]="1"
                (click)="confirmEdit()"
                style="float: right"
              >
              Update
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="addContainer"  style="width: 825px !important;" *ngIf="this.action === 'delete'">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
           Company Management > Delete<br /><br />
            <span class="del">Are you sure to delete?</span>
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        class="modal-close-button"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form
        class="register-form m-4"
        [formGroup]="advanceTableForm"
        (ngSubmit)="(submit)"
        style="margin-top:10px !important"
      >
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Company Name</mat-label>
            <input matInput value="{{this.advanceTable.cname}}" readonly/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Company Code</mat-label>
            <input matInput value="{{this.advanceTable.ccode}}" readonly />
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button
                mat-flat-button
                (click)="onNoClick()"
                tabindex="-1"
                style="float: right"
              >
                Cancel
              </button>
              <button
                mat-flat-button
                color="warn"
                [mat-dialog-close]="1"
                (click)="confirmDelete()"
                style="float: right"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<div class="addContainer" *ngIf="this.action === 'deleteRecord'">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            Delete {{ count }}
            {{
              count == "1"
                ? "Record"
                : "Records"
            }}?
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        class="modal-close-button"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form
        class="register-form m-4"
        [formGroup]="advanceTableForm"
        (ngSubmit)="(submit)"
      >
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button
                mat-flat-button
                (click)="onNoClick()"
                tabindex="-1"
                style="float: right"
              >
                Cancel
              </button>
              <button
                mat-flat-button
                color="warn"
                [mat-dialog-close]="1"
                (click)="confirmDelete()"
                style="float: right"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>