<div
  class="container"
  style="min-width: 500px; padding: 0px; position: relative"
>
  <app-feather-icons
    style="
      cursor: pointer;
      position: absolute;
      right: 0px;
      background: #000;
      color: #fff;
      border-radius: 50%;
      padding: 5px;
      z-index: 999;
    "
    [icon]="'x'"
    [class]="'header-icon'"
    (click)="onNoClick()"
  ></app-feather-icons>
  <img
    *ngIf="!data.sts"
    src="{{ data.imageSrc }}"
    style="margin: auto; text-align: center; width: 100%; padding: 10px"
  />

  <video
    *ngIf="data.sts!=3"
    src="{{ data.imageSrc }}"
    controls
    style="margin: auto; text-align: center; width: 100%; padding: 10px"
  >
    Your browser does not support the video tag.
  </video>
</div>
