.del {
    font-size: 14px;
    color: red;
  }
  .dropSearch {
    border-radius: 5px;
    width: 94%;
    margin-left: 7px;
    padding-left: 6px;
    height: 35px;
    border: 1px solid black;
  }
