.issues-summary {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: -15px;
}
.issue-item {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.issue-count {
  font-size: 1.5rem;
  font-weight: 600;
}

.issue-label {
  color: #a3a3a3;
}
.custom-select {
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-select option {
  font-size: 16px;
  padding: 10px;
  height: auto;
  width: auto;
  white-space: nowrap;
}
mat-button-toggle-group {
  width: 478px;
  height: 24px;
  padding-top: -1px;
  font-size: 1px;
}
.pending-toggle {
  font-weight: 500;
  margin-top: -13px;
  text-size-adjust: 10px;
  padding-left: 74px;
  padding-right: 74px;
}
.marked-toggle {
  font-weight: 500;
  margin-top: -13px;
  text-size-adjust: 10px;
  padding-left: 60px;
  padding-right: 60px;
}
.assigned-table {
  width: 101%;
}

.assigned-table th,
.assigned-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.assigned-table thead tr th {
  padding: 0 10px;
  height: 0px !important;
  vertical-align: middle;
  background-color: white;
  color: #666;
  font-weight: 500;
}
.assigned-table tbody tr td {
  padding: 0 10px;
  height: 0px !important;
  vertical-align: middle;
  background-color: #f5f5f5;
  font-weight: 500;
}
.badge {
  background-color: #007bff;
  color: white;
  padding: 0.2em 0.4em;
  font-size: 0.75em;
  border-radius: 0.25rem;
  margin-left: 0.5em;
}

.demo-chart {
  height: 400px;
}

.steps-table {
  width: 98%;
  border-collapse: collapse;
}

.steps-table th,
.steps-table td {
  border: 1px solid lightgray;
  // padding: 8px;
  padding: 6px;
  text-align: left;
  width: 89px;
}
